#actionButtons {
    background: red;
    margin-right: 20px;
    margin-bottom: 50px;
}

.actionButtons_row {
    display: flex;
    flex-direction: row;
}

.actionButtons_button {
    height: 55px;
    width: 55px;
    align-content: center;
    text-align: center;
    font-size: 40px;
}