#actionButtons {
    background: red;
    margin-right: 30px;
    margin-bottom: 50px;
}

.actionButtons_row {
    display: flex;
    flex-direction: column;
}

.actionButtons_button {
    height: auto;
    width: auto;
    padding: 10px;
    align-content: center;
    text-align: center;
    font-size: 40px;
}