#chatMenu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#chatMenuContainer {
    height: 100%;
}

.chatMenu_top_segment {
    height: 65%;
    width: 100%;
    /*background: red;*/
}

.chatMenu_textbox_container {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatMenu_textbox {
    color: #242424;
    background: white;
    height: 60%;
    width: 95%;
    border-style: solid;
    border-color: darkslategrey;
    border-radius: 8px;
}

.chatMenu_textbox_content {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    width: 90%;
}

.chatMenu_textbox_lines {
    height: 100%;
    width: 100%;
    overflow: hidden;
}